name: CD (Deploy to Server)

on:
  workflow_call:
    inputs:
      checkout_ref:
        required: true
        type: string
      deploy_branch:
        required: true
        type: string
    secrets:
      DEPLOY_HOST:
        required: true
      DEPLOY_USER:
        required: true
      DEPLOY_SSH_KEY:
        required: true
      docker run hello-world:
        required: false

jobs:
  deploy:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.checkout_ref }}

      - name: Prepare SSH
        shell: bash
        env:
          HOST: ${{ secrets.DEPLOY_HOST }}
          KEY: ${{ secrets.DEPLOY_SSH_KEY }}
        run: | 
          set -euo pipefail
          mkdir -p ~/.ssh
          printf '%s' "$KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H "$HOST" >> ~/.ssh/known_hosts
  

      - name: Sync code on server
        shell: bash
        env:
          HOST: ${{ secrets.DEPLOY_HOST }}
          USER: ${{ secrets.DEPLOY_USER }} 
          REPO_SSH: git@github.com:ilyaytrewq/payments-service-Service.git
        run: |
          set -euo pipefail
      
          REMOTE_DIR="/opt/payments-service/${{ inputs.deploy_branch == 'main' && 'prod' || 'dev' }}"
          REPO_SSH="https://github.com/ilyaytrewq/Payments-Service"
          echo "REMOTE_DIR=$REMOTE_DIR" >> "$GITHUB_ENV"
      
          SSH="ssh -i ~/.ssh/id_ed25519 -o IdentitiesOnly=yes -o StrictHostKeyChecking=no"
          TARGET="${USER}@${HOST}"
      
          $SSH "$TARGET" "
            sudo mkdir -p '$REMOTE_DIR' &&
            sudo chown -R '$USER:$USER' /opt/payments-service &&
            if [ ! -d '$REMOTE_DIR/repo/.git' ]; then git clone '$REPO_SSH' '$REMOTE_DIR/repo'; fi &&
            cd '$REMOTE_DIR/repo' &&
            git fetch origin &&
            git checkout -B '${{ inputs.deploy_branch }}' 'origin/${{ inputs.deploy_branch }}'
          "


      - name: Deploy
        shell: bash
        env:
          HOST: ${{ secrets.DEPLOY_HOST }}
          USER: ${{ secrets.DEPLOY_USER }}
        run: |
          set -euo pipefail

          SSH="ssh -i ~/.ssh/id_ed25519 -o IdentitiesOnly=yes -o ServerAliveInterval=30 -o ServerAliveCountMax=6"
          TARGET="${USER}@${HOST}"

          $SSH "$TARGET" "cd '${REMOTE_DIR}/repo' && sudo docker compose -f docker-compose.yaml up -d --build"
      
